#country button {
  border: none;
  border-radius: 0;
  width: 100%;
  padding-left: 10px;
  text-align: start;
  color: #4a4a4a;
  margin: 0;
  min-height: 20px;
  font-size: 14px;
}

#country button:hover {
  color: white;
}
