.like {
  display: block;
  width: 20px;
  height: 20px;
  cursor: pointer;
}


.clsLike1 {
  fill: #fff;
}

.clsLike2 {
  fill: #fff;
  stroke: #2196f3;
  stroke-width: 1px;
}

 
button:hover .clsLike2, .clsLike2Active {
  fill: #2196f3;
}

