.like {
  display: block;
  width: 20px;
  height: 20px;
  /* .cls-1{fill:#fff;opacity:0;}.cls-2{fill:#231f20;} */
  /* fill: none; */
  /* fill-rule: nonzero; */
  /* stroke: #2196f3; */
  /* stroke-width: 20px; */
  cursor: pointer;
  /* transition: fill .3s; */
}

.clsLike1 {
  fill: #fff;
}

.clsLike2 {
  fill: #fff;
  stroke: #2196f3;
  stroke-width: 1px;
}

button:hover .like path {
  fill: #2196f3;
}
