.containerFilter {
  margin: 0;
  padding: 0;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  height: auto;
  /* border: 1px solid green; */
  /* height: calc(100vh - 60px); */
  border: 1px solid red;
  position: sticky;
  top: 0;
  /* width: 100%; */

}

@media all and (max-width: 767px) {
  .containerFilter {
    flex-direction: row;
    height: 100%;
  }
}

.containerFilter * {
  margin: 5px;
}

.searchInput {
  outline: 0;
  box-shadow: none;
  border: 1px solid #2196f3;
  border-radius: 5px;
  height: 40px;
  font-family: 'Pragmatica-Light', Helvetica, Arial, sans-serif;
  font-style: italic;
  font-size: 18px;
  font-weight: bold;
  color: #4a4a4a;
  padding: 5px;
  box-sizing: border-box;
}


.filterText {
  color: #fff; 
  font-style: italic;
  font-size: 18px;
}

.containerCountryList {
  display: flex;
  flex-direction: column;
  max-height: 30vh;
  overflow: auto; 
}

.containerFilter button {
  /* margin: 5px; */
  /* border: 1px solid #2196f3; */
  /* border-radius: 5px; */
  min-height: 40px;
  /* background-color: #fff; */
  font-size: 16px;
}

.containerCountryList ul {
  padding: 0;
  margin: 0;
  background-color: #fff;
  border-radius: 5px;
}

.containerCountryList li {
  padding: 5px;
  border-radius: 5px;
  /* border: 1px solid #2196f3; */
}

.containerCountryList li:hover {
  background-color: #2196f3;
  color: #fff;
  cursor: pointer;
}