.card {
  /* color: #4a4a4a; */
  border-radius: 5px;
  margin: 5px;
  background-color: white;
  padding: 10px;
  /* display: grid; */
  /* grid-gap: 5px; */
  /* grid-template-columns: 1fr 1fr 1fr;
  grid-template-rows: repeat(3, minmax(30px, 80px)); */
  /* grid-template-areas:
    'nameArea emptyArea flagArea'
    'infoArea infoArea subflagArea'
    'infoArea infoArea likeArea'; */
  /* max-height: 50vh; */
  /* max-width: 100%; */
  
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  border: 1px solid #A64B00;
}

.cardOpen {
  /* color: #4a4a4a; */
  border-radius: 5px;
  margin: 5px;
  background-color: white;
  padding: 5px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  /* max-height: 100vh; */
  grid-column: 1/-1;
}

.card:hover {
  box-shadow: 0px 3px 3px 1px #A64B00, 0px 0px 3px 1px #A64B00;
}

/* .card:nth-child(n + 7) {
  display: none;
} */

@media all and (max-width: 767px) {
  .card:first-child {
    grid-column: 1/2;
  }
  .card:nth-child(n + 5) {
    display: grid;
  }
}

.nameArea {
  /* grid-area: nameArea; */
  /* border: 1px solid black; */
}

/* .emptyArea {
  grid-area: emptyArea;
  border: 1px solid black;
} */

.infoArea {
  border: 1px solid black;
  overflow: auto;
  width: auto;
}

.likeArea {
  display: flex;
  height: 40px;
}

.likeArea button {
  font-size: 16px;
  
}

.likeButton:hover{
  background-color: #fff;
}

.likeArea .infoButton {
  flex-grow: 1;
  margin-right: 5px;

}

.infoArea {
  width: 100%;
}

.flag {
  width: 40px;
  height: 40px;
  margin: 0 auto;
  border-radius: 50%;
  border: 1px solid #A64B00;
  position: relative;
  overflow: hidden;
}

.flagImage {
  max-height: 100%;
  margin: auto;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

