.containerHeader{
  color: green;
  grid-area: header;
  display: grid;
  grid-template-columns: 200px 1fr 200px;
  grid-gap: 5px;
  /* padding: 5px 15px; */
}

.linkLogo {
  color: #fff;
  text-decoration: none;
  align-items: center;
  display: flex;
  justify-content: flex-start;
  padding: 5px;
} 

.textLogo {
  display: block; 
}