.containerHeader{
  grid-area: header;
  display: grid;
  grid-template-columns: 200px 1fr 200px;
  grid-gap: 5px;
  /* padding: 5px 15px; */
}

.linkLogo {
  color: #fff;
  font-size: 20px;
  text-decoration: none;
  align-items: center;
  display: flex;
  justify-content: flex-start;
  padding: 5px;
} 

.textLogo {
  display: block; 
}

.logoDiv {
  padding-left: 10px;
}


.navDiv {
  display: flex;
  justify-content: space-around;
  align-items: center;
  padding-right: 20px;
}

.navButton {
  position: relative;
  border: 1px solid #fff;
  border-radius: 50%;
  margin:0;
  padding: 0;
  outline: none;
  cursor: pointer;
  background-color: #2196f3;
  width: 30px;
  height: 30px;

}

.navButton:hover{
  background-color: #6bb6f3;
}

.helloUser {
  color: white;
  font-style: italic;
  font-size: 18px;
  font-weight: bold;
}