html, body {
  margin: 0;
  padding: 0;
  font-family: 'Pragmatica-Light', Helvetica, Arial, sans-serif;
  font-size: 16px;
  color: #4a4a4a;
}

button {
  outline: none;
  cursor: pointer;
  font-family: 'Pragmatica-Light', Helvetica, Arial, sans-serif;
  color: #4a4a4a;
  background-color: #fff;
  border: 1px solid #2196f3;
  border-radius: 5px;
  color: #2196f3;
}

/* button:focus, */
button:hover {
  background-color:#2196f3;
  color: #fff;
}

.app {
  /* background-color: yellow; */
  /* border: 1px solid black; */
  position: relative;
  display: grid;
  grid-template-areas:
  "header header header"
  "nav article side"
  "footer footer footer";
  grid-gap: 5px;
  grid-template-columns: 200px 1fr 200px;
  grid-template-rows: 50px 1fr 50px;
  min-height: 100vh;
  margin: 0px;
  /* background-color: rgba(30, 31, 32, 0.15); */
  background-color: #2196f3;
}

@media all and (max-width: 767px) {
  .app {
    min-height: 100vh;
    grid-template-areas:
    "header"
    "nav"
    "article"
    "side"
    "footer";
    grid-template-columns: 1fr;
    grid-template-rows: 50px 30px 1fr 30px 30px;
  }
}
.header {
  border: 1px solid green;
  grid-area: header;
}

.nav{
  grid-area: nav;
  border: 1px solid green;
  position: relative;
}

.partyInfo {
  grid-area: article;
  border: 1px solid green;
}

.sidebar{
  grid-area: side;
  border: 1px solid green;
}

/* .footer {
  grid-area: footer;
} */



h4 {
  margin: 0;
}

.helloUser {
  color: white;
  font-style: italic;
  font-size: 18px;
  font-weight: bold;
  margin: 0 auto;
  display: flex;
}