.containerPartyInfo {
  margin: 0;
  padding: 0;
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(200px, 1fr));
  /* grid-template-rows: repeat(auto-fill); */
  grid-gap: 5px;
  height: auto;
  border: 1px solid green;
  height: 100%;
}

@media all and (max-width: 767px) {
  .containerPartyInfo {
    grid-template-columns: 1fr;
    grid-template-rows: none;
    grid-auto-rows: 50vw;
  }
}