.containerPartyInfo {
  margin: 0;
  padding: 0;
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-template-rows: 2fr 1fr;
  grid-gap: 5px;
  /* border:2px solid red; */
  height: 100%;
}

@media all and (max-width: 767px) {
  .containerPartyInfo {
    grid-template-columns: 1fr;
    grid-template-rows: none;
    grid-auto-rows: 50vw;
  }
}